@using Booking.Core.DTO;
@using Core.Domain.Entities
@model IEnumerable<Company>
@{
    ViewData["Title"] = "Index";
}
<a class="btn btn-primary" asp-action="Create">Create</a>
<h1>Index</h1>

<div class="row row-cols-4">

 @foreach(var company in Model)
{
    @if (!company.IsDeleted)
    {
            
    <div class="col">
        <div class="card">
            <img class="card-img-top" src="~/images/company/@company.Image" alt="Card image cap">
            <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(model => company.Name)</h5>
                @Html.DisplayNameFor(model => company.TotalProfits)
                @Html.DisplayFor(model => company.TotalProfits)
                <hr/>
                <a class="btn col-12 btn-secondary" asp-action="Details" asp-route-id="@company.ID">Details</a>
                <a class="btn col-12  my-2 btn-primary" asp-action="Edit" asp-route-id="@company.ID">Edit</a>
                <a class="btn col-12 btn-outline-danger" asp-action="Delete" asp-route-id="@company.ID">Delete</a>
            </div>
        </div> 
    </div>
    }
}
</div>